{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:prettier/recommended", "plugin:tailwindcss/recommended"],
  "root": true,

  "plugins": [
    "hooks",
    "jest-dom",
    "prettier",
    "react",
    "simple-import-sort",
    "sort-destructure-keys",
    "sort-keys-fix",
    "tailwindcss",
    "testing-library",
    "typescript-sort-keys"
  ],

  "rules": {
    "hooks/sort": [
      2,
      {
        "groups": [
          "useReducer",
          "useContext",
          "useState",
          "useRef",
          "useDispatch",
          "useCallback",
          "useEffect"
        ]
      }
    ],
    "prettier/prettier": "error",
    "react/jsx-sort-props": "error",
    "tailwindcss/no-custom-classname": [
      1,
      {
        "whitelist": ["map3"]
      }
    ],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    "sort-destructure-keys/sort-destructure-keys": "error",
    "sort-keys-fix/sort-keys-fix": "error",
    "typescript-sort-keys/interface": "error",
    "typescript-sort-keys/string-enum": "error"
  }
}
