{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/index.css",
            "label": "CSS distribution"
          },
          {
            "path": "dist/global/index.js",
            "label": "JS distribution"
          }
        ]
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ]
  ]
}
