.map3-accent {
    .sbui-btn-default {
        background: var(--accent-color) !important;
        color: var(--primary-color-900) !important;
        text-shadow: none !important;
    }

}

.dark {
    .map3 {
        .sbui-modal {
            background: var(--primary-color-900) !important;
        }
    }
}

.map3 {
    .sbui-modal {
        background: white !important;
    }
    
    .sbui-modal-content {
        padding: 0 !important;
        height: 100%;
        width: 100%;
    }

    .sbui-modal-content>.sbui-space-row {
        height: 100%;
    }

    .sbui-modal-content>.sbui-space-row>.sbui-space-col {
        height: 100%;
    }

    .w-full.sbui-modal--tiny {
        max-width: 100% !important;
    }

    .h-full .sbui-modal-content > .sbui-space-row {
        height: inherit !important;
    }
    
    .h-full .sbui-modal-content > .sbui-space-row > .sbui-space-col {
        height: inherit !important;
    }

    @media screen and (min-width: 640px) {
        .sbui-modal-content>.sbui-space-row {
            height: initial;
        }

        .sbui-modal-content>.sbui-space-row>.sbui-space-col {
            height: initial;
        }
    }

    .sbui-space-y-4> :not([hidden])~ :not([hidden]) {
        margin: 0 !important;
    }

    .sbui-modal-footer {
        display: none !important;
    }
}