.sbui-modal-content {
  @apply !p-0;
  @apply !pt-6;
}

.sbui-modal-footer {
  display: none !important;
}

.map3-sdk-modal {
  @tailwind components;
  @tailwind utilities;
  @tailwind base;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
